$primary: #2272ea;
$secondary: #22d3c7;
$danger: #ff1d25;
$success: #7ac943;
$info: #29abe2;
$warning: #f7931e;
$input-disabled-bg: #f5f8fe;
$input-border-color: #2272ea;
$navbar-light-active-color: #2272ea;

@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/src/components/dropdown/_dropdown.scss'; // https://github.com/bootstrap-vue/bootstrap-vue/issues/2951

